# Config file for automatic testing at travis-ci.org

language: python

python:
  - "3.5"
  - "3.4"
  - "2.7"

env:
  - DJANGO=Django==1.5
  - DJANGO=Django==1.6
  - DJANGO=Django==1.7
  - DJANGO=Django==1.8
  - DJANGO=Django==1.9

before_install:
  - pip install codecov

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -r requirements-test.txt

# command to run tests using coverage, e.g. python setup.py test
script: coverage run --source django_dynamic_views runtests.py

after_success:
  - codecov
